{% extends "layout.html" %}

{% block body %}

<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>乳腺癌病症分析</h1>
    <p class="lead">利用数据挖掘的算法对数据进行分析，得到中医症素与乳腺癌TNM 分期之间的关系 </p>
  </div>
</header>

<div class="container">

    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix-top">
          <li class=""><a href="#section1"><i class="icon-chevron-right"></i> 项目背景</a></li>
          <li class=""><a href="#section2"><i class="icon-chevron-right"></i> 原始数据样式</a></li>
          <li class=""><a href="#section3"><i class="icon-chevron-right"></i> 题目要求</a></li>
        </ul>
      </div>
      <div class="span9">

        <!-- Section
        ================================================== -->
        <section id="section1">
          <div class="page-header">
            <h1>项目背景</h1>
          </div>
            <p>中医药物治疗乳腺癌具有广泛的适应症和独特的优势。从整体出发，调整机体气压、阴阳、肺腑功能的平衡，根据不同的临床病症进行辨证论治。确定“先症而治”的方向：即在后续症状未出现之前，需要截断恶化病情的那些后续症候。发现中医症状间的关联关系和诸多症状之间的规律性，并且依据规则分析病因、预测病情的发展以及为未来临床提供有效借鉴。。</p>
            <p>目前，中医的治疗一般采用中医辩证的原则，结合临床医师的经验和临床指南进行诊断，然而这种方法也存在一定的缺陷。首先，中医辨证极为灵活，虽然能处理患者复杂多变的临床症状，体现出治疗优势。但是缺乏统一的规范，难以做到诊断的标准化。其次，疾病的复杂性和体质的差异，造成病人是多种症素兼夹复合。临床医师可能会被自身的经验所误导，单纯对症治疗违背了中医辨证论治的原则。最后，统一症状的辨证分型，往往都有不同的见解。面对临床不同症状的患者，初学者难以判断。</p>
            <p>针对乳腺癌患者，可以依据中医阶段治疗法进行治疗，在辨症的基础上围绕各个病程的特殊症候先症而治型。依据医学指南，将乳腺癌辨证统一化，分为六种症型。即患者在围手术期、围化疗期、围放疗期和内分泌治疗期，基本都会出现特定的临床症状。可以通过一定的规则，挖掘出各中医症素与乳腺癌TNM分期之间的关系。探索不同分期阶段的乳腺癌患者的中医症素分布规律，以及阶段病变发展，指导乳腺癌的中医临床治疗。</p>

        </section>

          <section id="section2">
          <div class="page-header">
            <h1>原始数据样式</h1>
          </div>
            <p><img src={{url_for('static',filename='dataSample.jpg')}} class="img-polaroid"></p>

        </section>

          <section id="section3">
          <div class="page-header">
            <h1>题目要求</h1>
          </div>
            <ol >
            <li>对数据进行预处理</li>
            <li>利用数据挖掘的算法对数据进行分析，得到中医症素与乳腺癌TNM 分期之间的关系。根据实际的业务分析建议最小支持度设定为：6%，最小置信度为：75%</li>
            <li>对所构建的模型进行分析，得出你的结论</li>
            </ol>

        </section>
      </div>
    </div>
</div>

{%endblock%}
